.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 15px;
    color: white;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  
  .auth-section a {
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease-in-out;

  }
  
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    text-align: center;
  }
  
  .logout-btn {
    background-color: #d9534f;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-left: 10px;
  }
  
  .logout-btn:hover {
    background-color: #c9302c;
  }

  .cart-button {
    background-color: #f39c12;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
    margin-left: 15px;
  }

  .cart-button:hover {
      background-color: #e67e22;
  }
  
  